@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutFootWear.cshtml";
}
@model IEnumerable<Cauthu>

<p class="addCT">
	<a type="button" class="btn-primary" asp-controller="Home" asp-action="ThemCT">Thêm cầu thủ</a>
</p>
<div class="row row-pb-md">
	@foreach (var item in Model)
	{
		<div class="col-lg-3 mb-4 text-center">
			<div class="product-entry border">
				<a href="#" class="prod-img">
					<img src="./ImagesBongDa/@item.Anh" class="img-fluid" alt="Free html5 bootstrap 4 template">
				</a>
				<div class="desc">
					<h2><a href="#">@item.HoVaTen</a></h2>
					<span class="price">@item.QuocTich</span>
				</div>
			</div>
		</div>		
	}
</div>